
<!doctype html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Groovenauts</title>
    </head>
    <style>
	div{
		background-color : black
            }
	h1{
		tex-align : left;
	}
	h2{
		div-aligin : center;
		justify-content : center;
		text-align : center;
	}
	h3{
		div-aligin : center;
		justify-content : center;
		text-align : center;
	}
	h4{
		div-aligin : center;
		justify-content : center;
		text-align : center;
	}
    </style>
    <body>
        <div>
        <h1>
		{% load staticfiles %}
            <font size=19 color=#FFFFFF>
	<img width=250 height = 60 src="{% static "predict/dd.JPG" %}" alt="My image1">
            <b>What's the status of my hair?</b></font>
        </h1></div>
        <h2> 
	<font size = 6>
	Predict your condition!</font>
	
	<font size = 3>
	 <p>You can easily check your hair loss.<br>
	Please take a picture of your scalp and upload it below.<br>
	Powerful A.I software will check your hair condition.</p></font>
	<font size = 1 color=#FFA7A7>
	<p>**Please fill out male or female in 'sex' textbox.<br>
	**Please upload a file of 1.5mb or less.<br>
	**Please take a picture of what you want to diagnose.<br> 
	**For example, in order to diagnose M-shaped hair loss, you need to take a picture of your forehead.
	<p/></font>
	<font size = 3>
	<form method='Post' action="" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p}}
        <input type='submit' class='btn btn-default' value="Upload" />
        </form></font>
        </h2>
        <h3>
	<fieldset><legend align="center">
	<img height=60 width=50 src="{% static "predict/cc.JPG" %}" alt="My image3">
		
		</legend>	
        	<p>{{source}}<br><font size = 1 color=#FFA7A7>
	**A.I has an 80% prediction. It may be different from your actual scalp condition.
	</font></p></fieldset>
        </h3>
    </body>
</html>
